# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.ruff_cache/
.mypy_cache/


internals/
results.json
Mini_Project_Report.pdf

# Build artifacts
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
nul

# Keep public: *.gif, *.png, *.md, *.html, *.pdf, *.py, requirements.txt
